.callback {
  display: flex;
  align-self: stretch;
  align-items: center;
  justify-content: flex-end;

  width: 1170px;
  min-height: 455px;
  margin: 0 auto;
  margin-bottom: 170px;

  background-repeat: no-repeat;
  background-position: 12px 0;
  background-size: auto 100%;
  background-image: url("../img/callback-background.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/callback-background-2x.jpg");
  }
}

.callback__container {
  width: 656px;
  margin-right: -12px;
  padding: 50px 49px 49px 50px;

  background-color: $main-color;
  box-shadow: 0 4px 30px rgba(41, 54, 66, 0.1);
  border-radius: 5px;
}

.callback__title {
  display: block;
  margin-bottom: 11px;

  font-size: 25px;
  line-height: 32px;
  font-weight: 600;

  text-align: center;

  color: $gray-dark-color;
}

.callback__text {
  margin-bottom: 24px;

  text-align: center;

  color: $gray-dark-color;
}

.callback__input {
  width: 269px;

  padding: 15px;
  padding-top: 16px;

  &:invalid {
    border: 1px solid $accent-color;
  }
}

.callback__input::placeholder {
  font-family: $font-deafult;
  font-size: 14px;
  line-height: 17px;

  color: $gray-dark-color;
}

.callback__input-tel {
  padding-left: 50px;
}

.callback__form-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  margin-bottom: 25px;
}

.callback__button {
  min-width: 176px;

  margin: 0 auto;
  padding: 19px 39px 17px 40px;
}
